body {
  background-image: url("https://s6.uupload.ir/files/mesh-gradient_53of.png");
  background-position: center;
}

.GlassedTitle {
  width: 600px;
  height: 550px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin-top: 6%;
  margin-left: 30%;
}
#NanTitle {
  font-size: 36px;
  font-family: "Rokh Black";
  src: url("/fonts/Rokh-Black.woff");
  text-align: center;
  color: rgb(0, 128, 255);
}
